In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
from sklearn.decomposition import PCA

In [3]:
epl_19 = pd.read_csv('./2019:2020/E0.csv', encoding='cp1252')

In [4]:
epl_19['FTR'] = epl_19['FTR'].replace({'H':1, 'D':0.5, 'A':0})

In [5]:
epl_19['HTR'] = epl_19['HTR'].replace({'H':1, 'D':0.5, 'A':0})

In [6]:
home_team_odds = epl_19[['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH']]

In [7]:
home_team_odds

     B365H    BWH    IWH    PSH    WHH    VCH
0     1.14   1.14   1.15   1.15   1.12   1.14
1    12.00  11.50  11.00  11.68  13.00  12.00
2     1.95   1.95   1.97   2.04   2.00   2.00
3     2.62   2.65   2.65   2.71   2.70   2.70
4     3.00   3.20   3.10   3.21   3.10   3.20
..     ...    ...    ...    ...    ...    ...
375   3.25   3.20   3.15   3.25   3.20   3.20
376   1.08   1.05   1.07   1.08   1.07   1.05
377   7.50   7.50   7.50   7.79   8.00   8.00
378   2.15   2.20   2.20   2.18   2.15   2.15
379   3.00   3.00   3.05   3.12   3.00   3.10

[380 rows x 6 columns]

In [8]:
home_team_odds.var(axis=1)

0      0.000120
1      0.448067
2      0.001230
3      0.001337
4      0.006950
         ...
375    0.001417
376    0.000187
377    0.061350
378    0.000617
379    0.002950
Length: 380, dtype: float64

In [9]:
epl_19['home_team_var'] = home_team_odds.var(axis=1)

In [10]:
draw_odds = epl_19[['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD']]

In [11]:
epl_19['draw_var'] = draw_odds.var(axis=1)

In [12]:
away_team_odds = epl_19[['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA']]

In [13]:
epl_19['away_team_var'] = away_team_odds.var(axis=1)

In [14]:
home_team_odds_c = epl_19[['B365CH', 'BWCH', 'IWCH', 'PSCH', 'WHCH', 'VCCH']]

In [15]:
epl_19['home_team_var_c'] = home_team_odds_c.var(axis=1)

In [16]:
draw_odds_c = epl_19[['B365CD', 'BWCD', 'IWCD', 'PSCD', 'WHCD', 'VCCD']]

In [17]:
epl_19['draw_var_c'] = draw_odds_c.var(axis=1)

In [18]:
away_team_odds_c = epl_19[['B365CA', 'BWCA', 'IWCA', 'PSCA', 'WHCA', 'VCCA']]

In [19]:
epl_19['away_team_var_c'] = away_team_odds_c.var(axis=1)

In [20]:
epl_19

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,1.0,4,0,...,1.99,2.07,1.90,1.99,0.000120,0.681267,4.010417,0.000187,0.634817,2.796817
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,0.0,0,1,...,2.07,1.98,1.97,1.92,0.448067,0.107200,0.000227,0.254017,0.136867,0.000107
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,0.5,0,0,...,2.00,1.96,1.96,1.92,0.001230,0.001600,0.018667,0.000427,0.003000,0.016950
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,1.0,0,0,...,1.90,2.07,1.86,2.02,0.001337,0.002950,0.000817,0.002187,0.003017,0.001667
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,0.5,0,0,...,2.03,2.08,1.96,1.93,0.006950,0.004400,0.001430,0.002417,0.008417,0.000550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,26/07/2020,16:00,Leicester,Man United,0,2,0.0,0,0,...,1.94,2.05,1.86,2.02,0.001417,0.010067,0.001667,0.006817,0.008417,0.001667
376,E0,26/07/2020,16:00,Man City,Norwich,5,0,1.0,2,0,...,2.06,1.88,2.02,1.84,0.000187,1.846667,46.645400,0.000350,9.066667,63.766667
377,E0,26/07/2020,16:00,Newcastle,Liverpool,1,3,0.0,1,1,...,2.03,2.00,1.95,1.92,0.061350,0.038350,0.000470,0.185150,0.045667,0.001670
378,E0,26/07/2020,16:00,Southampton,Sheffield United,3,1,1.0,0,1,...,2.03,1.96,1.98,1.89,0.000617,0.008000,0.008417,0.000417,0.009867,0.011800
379,E0,26/07/2020,16:00,West Ham,Aston Villa,1,1,0.5,0,0,...,1.99,2.00,1.93,1.95,0.002950,0.007467,0.000467,0.001977,0.008467,0.002947

In [21]:
epl_19 = epl_19.drop(columns=['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'Referee'])

In [22]:
X, y = epl_19.drop(columns=['FTR']).values, epl_19['FTR'].values

In [23]:
pca = PCA(0.95)

In [24]:
pca.fit(X)
pca.transform(X)[:5,]

array([[ 64.09382248,   8.66146027,  -6.35934765,   1.17168397,
         -9.89015137,  -3.11117921,  -0.90987013,   1.87970037],
       [-20.69350465,  33.45656129,   5.43596806,  -7.43075608,
         -1.27394066,  -3.23596368,   2.86132163,  -0.27865011],
       [ -3.8220932 ,  -6.41354824,  -0.97545861,  -3.52699294,
          2.41304248,  -4.99424955,   4.76015339,  -1.97084308],
       [ -9.30285354,  -3.07456856,  -2.47148633,  -3.07316978,
         -0.14121565,   3.07011075,   3.87480249,  -3.00458068],
       [-11.8678015 ,  -2.39750512,  -3.23607243,  -5.91979495,
          3.4823253 ,  -3.61546435,  -3.21695626,   2.87914013]])

In [25]:
b_19 = pd.read_csv('./2019:2020/D1.csv', encoding='cp1252')

In [26]:
f_19 = pd.read_csv('./2019:2020/F1.csv', encoding='cp1252')

In [27]:
i_19 = pd.read_csv('./2019:2020/I1.csv', encoding='cp1252')

In [28]:
s_19 = pd.read_csv('./2019:2020/SP1.csv', encoding='cp1252')

In [29]:
for league in [b_19, f_19, i_19, s_19]:
    
    home_team_odds = pd.DataFrame()
    draw_odds = pd.DataFrame()
    away_team_odds = pd.DataFrame()
    home_team_odds_c = pd.DataFrame()
    draw_odds_c = pd.DataFrame()
    away_team_odds_c = pd.DataFrame()
    
    league['FTR'] = league['FTR'].replace({'H':1, 'D':0.5, 'A':0})

    league['HTR'] = league['HTR'].replace({'H':1, 'D':0.5, 'A':0})

    home_team_odds = league[['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH']]

    league['home_team_var'] = home_team_odds.var(axis=1)

    draw_odds = league[['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD']]

    league['draw_var'] = draw_odds.var(axis=1)

    away_team_odds = league[['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA']]

    league['away_team_var'] = away_team_odds.var(axis=1)

    home_team_odds_c = league[['B365CH', 'BWCH', 'IWCH', 'PSCH', 'WHCH', 'VCCH']]

    league['home_team_var_c'] = home_team_odds_c.var(axis=1)

    draw_odds_c = league[['B365CD', 'BWCD', 'IWCD', 'PSCD', 'WHCD', 'VCCD']]

    league['draw_var_c'] = draw_odds_c.var(axis=1)

    away_team_odds_c = league[['B365CA', 'BWCA', 'IWCA', 'PSCA', 'WHCA', 'VCCA']]

    league['away_team_var_c'] = away_team_odds_c.var(axis=1)

In [30]:
b_19 = b_19.drop(columns=['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam'])

In [31]:
f_19 = f_19.drop(columns=['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam'])

In [32]:
i_19 = i_19.drop(columns=['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam'])

In [33]:
s_19 = s_19.drop(columns=['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam'])

In [34]:
epl_19

,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,4,1,1.0,4,0,1.0,15,12,7,5,...,1.99,2.07,1.90,1.99,0.000120,0.681267,4.010417,0.000187,0.634817,2.796817
1,0,5,0.0,0,1,0.0,5,14,3,9,...,2.07,1.98,1.97,1.92,0.448067,0.107200,0.000227,0.254017,0.136867,0.000107
2,1,1,0.5,0,0,0.5,13,8,3,3,...,2.00,1.96,1.96,1.92,0.001230,0.001600,0.018667,0.000427,0.003000,0.016950
3,3,0,1.0,0,0,0.5,10,11,4,3,...,1.90,2.07,1.86,2.02,0.001337,0.002950,0.000817,0.002187,0.003017,0.001667
4,0,0,0.5,0,0,0.5,6,10,2,3,...,2.03,2.08,1.96,1.93,0.006950,0.004400,0.001430,0.002417,0.008417,0.000550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,0,2,0.0,0,0,0.5,14,7,3,3,...,1.94,2.05,1.86,2.02,0.001417,0.010067,0.001667,0.006817,0.008417,0.001667
376,5,0,1.0,2,0,1.0,31,5,10,4,...,2.06,1.88,2.02,1.84,0.000187,1.846667,46.645400,0.000350,9.066667,63.766667
377,1,3,0.0,1,1,0.5,3,14,2,6,...,2.03,2.00,1.95,1.92,0.061350,0.038350,0.000470,0.185150,0.045667,0.001670
378,3,1,1.0,0,1,0.0,13,5,4,3,...,2.03,1.96,1.98,1.89,0.000617,0.008000,0.008417,0.000417,0.009867,0.011800
379,1,1,0.5,0,0,0.5,10,13,1,4,...,1.99,2.00,1.93,1.95,0.002950,0.007467,0.000467,0.001977,0.008467,0.002947

In [35]:
b_19

,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,2,2,0.5,1,2,0.0,17,6,7,3,...,2.04,1.93,1.98,1.91,0.001267,0.537617,3.175000,0.001497,7.924167e-01,7.669400
1,5,1,1.0,1,1,0.5,23,5,10,1,...,1.98,2.04,1.91,1.97,0.000360,0.091200,2.368067,0.000950,8.261500e-01,17.832017
2,3,0,1.0,0,0,0.5,19,19,8,5,...,1.97,2.06,1.90,1.99,0.001150,0.006000,0.000817,0.033787,2.366583e-31,0.070800
3,3,2,1.0,2,2,0.5,13,11,4,6,...,2.15,1.91,2.03,1.85,0.000337,0.044017,0.468817,0.000337,1.148000e-01,0.310417
4,1,3,0.0,0,1,0.0,23,12,10,7,...,1.95,2.11,1.89,2.00,0.000417,0.012000,0.017667,0.000550,8.416667e-03,0.028667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,1,0,1.0,1,0,1.0,13,6,2,1,...,2.09,1.97,1.99,1.89,0.000067,0.002017,0.268067,0.000737,6.581667e-02,0.102017
302,2,1,1.0,1,0,1.0,22,4,8,2,...,2.00,2.05,1.93,1.95,0.000177,0.024600,0.034817,0.001027,4.666667e-02,0.310667
303,3,0,1.0,1,0,1.0,11,25,7,4,...,1.84,2.15,1.80,2.07,0.010467,0.004000,0.001217,0.018417,6.400000e-03,0.002750
304,6,1,1.0,3,0,1.0,18,6,9,2,...,1.97,2.05,1.89,1.98,0.000777,0.017737,0.033150,0.000657,2.721667e-02,0.014817
305,0,4,0.0,0,2,0.0,11,17,4,11,...,2.04,1.98,1.97,1.90,0.007387,0.015817,0.000227,0.010017,1.946667e-02,0.000240

In [36]:
f_19

,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,0,3,0.0,0,2,0.0,7,13,1,3,...,2.06,2.01,2.01,1.87,0.005000,0.012267,0.002110,0.013617,0.010667,0.003417
1,0,2,0.0,0,0,0.5,10,8,2,5,...,2.06,1.97,1.98,1.89,0.000227,0.016817,0.032417,0.001977,0.010150,0.112000
2,3,1,1.0,3,1,1.0,14,8,4,3,...,1.80,2.17,1.77,2.11,0.000480,0.005787,0.008417,0.001417,0.002737,0.013067
3,1,1,0.5,1,0,1.0,16,13,5,3,...,2.12,1.83,2.08,1.79,0.001777,0.006800,0.004817,0.001417,0.003617,0.000867
4,1,2,0.0,1,2,0.0,15,12,7,4,...,2.16,1.82,2.09,1.79,0.026400,0.009267,0.001017,0.005200,0.000817,0.001017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,2,1,1.0,0,1,0.0,12,14,5,4,...,2.09,1.90,2.01,1.84,0.005867,0.009217,0.000417,0.012867,0.012067,0.007017
275,1,0,1.0,1,0,1.0,12,12,3,4,...,2.05,1.93,1.99,1.86,0.000630,0.011217,0.012000,0.001867,0.009187,0.018777
276,1,1,0.5,0,0,0.5,11,9,4,2,...,2.07,1.98,1.94,1.91,0.001617,0.011800,0.003267,0.002267,0.004550,0.004000
277,5,0,1.0,2,0,1.0,16,11,9,1,...,2.00,2.00,1.94,1.91,0.001667,0.008977,0.005417,0.001950,0.002200,0.010150
278,1,0,1.0,1,0,1.0,13,9,3,2,...,1.97,2.06,1.87,1.98,0.000617,0.010417,0.003067,0.005400,0.001400,0.046600

In [37]:
i_19

,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,0,1,0.0,0,1,0.0,5,9,4,4,...,1.93,2.12,1.83,2.04,1.356267,0.010750,0.000347,0.770667,0.014417,0.000310
1,3,4,0.0,1,2,0.0,10,8,6,6,...,1.94,2.14,1.80,2.09,0.054950,0.006467,0.000337,0.011710,0.007350,0.001137
2,1,0,1.0,0,0,0.5,11,6,6,0,...,1.91,2.09,1.85,2.04,0.023417,0.005417,0.000667,0.007217,0.003267,0.001550
3,0,1,0.0,0,0,0.5,9,8,5,3,...,2.12,1.85,2.08,1.82,0.000387,0.007617,0.021427,0.001307,0.004400,0.080667
4,3,3,0.5,2,2,0.5,17,6,9,4,...,1.99,2.20,1.92,1.97,0.000747,0.014067,0.364600,0.003667,0.018617,0.245760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,1,3,0.0,1,1,0.5,7,20,5,11,...,2.07,1.98,1.98,1.89,0.075067,0.006400,0.000670,0.340067,0.047417,0.000427
376,1,1,0.5,1,0,1.0,13,13,5,11,...,2.11,1.88,2.04,1.84,0.000417,0.027267,0.002600,0.000227,0.003467,0.012800
377,3,0,1.0,3,0,1.0,4,13,4,3,...,2.00,2.10,1.87,2.01,0.000880,0.028417,0.037400,0.004590,0.038737,0.029800
378,3,4,0.0,2,2,0.5,12,18,8,11,...,1.92,2.11,1.85,2.02,0.000627,0.018520,0.044750,0.000577,0.026200,0.066667
379,0,1,0.0,0,0,0.5,18,7,14,3,...,1.93,2.11,1.86,2.02,0.000537,0.033217,0.010417,0.003067,0.060257,0.014417

In [38]:
s_19

,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,1,0,1.0,0,0,0.5,11,11,5,2,...,2.02,2.03,1.91,1.98,0.040000,0.000267,0.001817,0.055467,0.005217,0.003200
1,1,3,0.0,0,1,0.0,7,17,4,11,...,2.00,2.20,1.82,2.06,0.119667,0.000067,0.003760,0.100417,0.055467,0.003777
2,1,1,0.5,0,0,0.5,14,12,6,3,...,1.96,2.12,1.89,2.00,0.000040,0.007150,0.031417,0.000440,0.004017,0.013000
3,2,1,1.0,1,0,1.0,16,11,4,5,...,2.12,1.88,2.07,1.83,0.003750,0.001537,0.001720,0.002320,0.004497,0.000667
4,0,1,0.0,0,0,0.5,13,4,2,2,...,1.95,2.06,1.90,1.99,0.001417,0.002467,0.011067,0.003667,0.001617,0.236417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,4,0,1.0,1,0,1.0,11,11,6,3,...,2.04,1.99,1.93,1.94,0.001867,0.026417,0.036017,0.000747,0.015950,0.083067
376,2,2,0.5,1,1,0.5,15,7,7,4,...,2.06,1.93,2.00,1.88,0.014270,0.026817,0.011657,0.006377,0.012817,0.002417
377,1,0,1.0,0,0,0.5,13,13,4,4,...,1.91,2.08,1.86,2.01,0.026467,0.019217,0.003897,0.040067,0.017867,0.000307
378,2,2,0.5,1,1,0.5,12,12,5,4,...,1.89,2.11,1.84,2.04,0.000947,0.019067,0.023467,0.001147,0.017800,0.054417
379,1,0,1.0,0,0,0.5,16,8,4,2,...,1.96,2.00,1.92,1.95,0.000187,0.016267,0.005350,0.000177,0.019217,0.032667

In [39]:
matches_19 = epl_19.append([b_19, f_19, i_19, s_19])

In [40]:
matches_19

,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,4,1,1.0,4,0,1.0,15,12,7,5,...,1.99,2.07,1.90,1.99,0.000120,0.681267,4.010417,0.000187,0.634817,2.796817
1,0,5,0.0,0,1,0.0,5,14,3,9,...,2.07,1.98,1.97,1.92,0.448067,0.107200,0.000227,0.254017,0.136867,0.000107
2,1,1,0.5,0,0,0.5,13,8,3,3,...,2.00,1.96,1.96,1.92,0.001230,0.001600,0.018667,0.000427,0.003000,0.016950
3,3,0,1.0,0,0,0.5,10,11,4,3,...,1.90,2.07,1.86,2.02,0.001337,0.002950,0.000817,0.002187,0.003017,0.001667
4,0,0,0.5,0,0,0.5,6,10,2,3,...,2.03,2.08,1.96,1.93,0.006950,0.004400,0.001430,0.002417,0.008417,0.000550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,4,0,1.0,1,0,1.0,11,11,6,3,...,2.04,1.99,1.93,1.94,0.001867,0.026417,0.036017,0.000747,0.015950,0.083067
376,2,2,0.5,1,1,0.5,15,7,7,4,...,2.06,1.93,2.00,1.88,0.014270,0.026817,0.011657,0.006377,0.012817,0.002417
377,1,0,1.0,0,0,0.5,13,13,4,4,...,1.91,2.08,1.86,2.01,0.026467,0.019217,0.003897,0.040067,0.017867,0.000307
378,2,2,0.5,1,1,0.5,12,12,5,4,...,1.89,2.11,1.84,2.04,0.000947,0.019067,0.023467,0.001147,0.017800,0.054417
379,1,0,1.0,0,0,0.5,16,8,4,2,...,1.96,2.00,1.92,1.95,0.000187,0.016267,0.005350,0.000177,0.019217,0.032667

In [41]:
e_20 = pd.read_csv('./2020:2021/E0.csv', encoding='cp1252')

In [42]:
b_20 = pd.read_csv('./2020:2021/D1.csv', encoding='cp1252')

In [43]:
f_20 = pd.read_csv('./2020:2021/F1.csv', encoding='cp1252')

In [44]:
i_20 = pd.read_csv('./2020:2021/I1.csv', encoding='cp1252')

In [45]:
s_20 = pd.read_csv('./2020:2021/SP1.csv', encoding='cp1252')

In [46]:
for league in [e_20, b_20, f_20, i_20, s_20]:
    
    home_team_odds = pd.DataFrame()
    draw_odds = pd.DataFrame()
    away_team_odds = pd.DataFrame()
    home_team_odds_c = pd.DataFrame()
    draw_odds_c = pd.DataFrame()
    away_team_odds_c = pd.DataFrame()
    
    league['FTR'] = league['FTR'].replace({'H':1, 'D':0.5, 'A':0})

    league['HTR'] = league['HTR'].replace({'H':1, 'D':0.5, 'A':0})

    home_team_odds = league[['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH']]

    league['home_team_var'] = home_team_odds.var(axis=1)

    draw_odds = league[['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD']]

    league['draw_var'] = draw_odds.var(axis=1)

    away_team_odds = league[['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA']]

    league['away_team_var'] = away_team_odds.var(axis=1)

    home_team_odds_c = league[['B365CH', 'BWCH', 'IWCH', 'PSCH', 'WHCH', 'VCCH']]

    league['home_team_var_c'] = home_team_odds_c.var(axis=1)

    draw_odds_c = league[['B365CD', 'BWCD', 'IWCD', 'PSCD', 'WHCD', 'VCCD']]

    league['draw_var_c'] = draw_odds_c.var(axis=1)

    away_team_odds_c = league[['B365CA', 'BWCA', 'IWCA', 'PSCA', 'WHCA', 'VCCA']]

    league['away_team_var_c'] = away_team_odds_c.var(axis=1)

In [47]:
e_20 = e_20.drop(columns=['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'Referee'])

In [48]:
b_20 = b_20.drop(columns=['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam'])

In [49]:
f_20 = f_20.drop(columns=['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam'])

In [50]:
i_20 = i_20.drop(columns=['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam'])

In [51]:
s_20 = s_20.drop(columns=['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam'])

In [52]:
matches_20 = e_20.append([b_20, f_20, i_20, s_20])

In [53]:
matches_20

,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,0,3,0.0,0,1,0.0,5,13,2,6,...,2.13,1.92,2.02,1.87,0.140600,0.039897,0.000337,0.042817,0.006200,0.000560
1,1,0,1.0,1,0,1.0,5,9,3,5,...,1.85,2.18,1.79,2.12,0.011617,0.014217,0.001150,0.002267,0.023417,0.002617
2,4,3,1.0,3,2,1.0,22,6,6,3,...,1.90,2.16,1.84,2.04,0.001070,0.218750,0.562400,0.000520,0.024017,1.078400
3,0,2,0.0,0,0,0.5,15,15,3,2,...,2.09,1.91,2.02,1.86,0.000150,0.023200,0.007000,0.001817,0.023467,0.006217
4,0,3,0.0,0,0,0.5,7,13,1,7,...,1.95,2.01,1.91,1.97,0.014417,0.025350,0.000750,0.002067,0.023267,0.002817
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,0,1,0.0,0,0,0.5,7,11,1,1,...,2.07,1.96,1.98,1.88,0.010600,0.020280,0.000107,0.062217,0.018590,0.000547
376,2,1,1.0,0,1,0.0,14,6,4,2,...,2.02,2.02,1.95,1.92,0.000187,0.028467,0.288400,0.001417,0.013000,0.017217
377,1,2,0.0,1,0,1.0,10,14,4,3,...,1.95,2.06,1.90,1.97,0.205000,0.032067,0.000107,0.508600,0.085350,0.000177
378,0,0,0.5,0,0,0.5,9,11,3,2,...,1.84,2.23,1.77,2.12,0.009190,0.002017,0.002337,0.002667,0.001417,0.005107
379,1,0,1.0,0,0,0.5,11,11,2,2,...,2.13,2.03,1.99,1.88,0.000667,0.049737,0.131600,0.000160,0.051667,0.489267

In [54]:
matches = matches_19.append([matches_20])

In [55]:
matches = matches.reset_index(drop=True)

In [56]:
matches

,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,4,1,1.0,4,0,1.0,15,12,7,5,...,1.99,2.07,1.90,1.99,0.000120,0.681267,4.010417,0.000187,0.634817,2.796817
1,0,5,0.0,0,1,0.0,5,14,3,9,...,2.07,1.98,1.97,1.92,0.448067,0.107200,0.000227,0.254017,0.136867,0.000107
2,1,1,0.5,0,0,0.5,13,8,3,3,...,2.00,1.96,1.96,1.92,0.001230,0.001600,0.018667,0.000427,0.003000,0.016950
3,3,0,1.0,0,0,0.5,10,11,4,3,...,1.90,2.07,1.86,2.02,0.001337,0.002950,0.000817,0.002187,0.003017,0.001667
4,0,0,0.5,0,0,0.5,6,10,2,3,...,2.03,2.08,1.96,1.93,0.006950,0.004400,0.001430,0.002417,0.008417,0.000550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3546,0,1,0.0,0,0,0.5,7,11,1,1,...,2.07,1.96,1.98,1.88,0.010600,0.020280,0.000107,0.062217,0.018590,0.000547
3547,2,1,1.0,0,1,0.0,14,6,4,2,...,2.02,2.02,1.95,1.92,0.000187,0.028467,0.288400,0.001417,0.013000,0.017217
3548,1,2,0.0,1,0,1.0,10,14,4,3,...,1.95,2.06,1.90,1.97,0.205000,0.032067,0.000107,0.508600,0.085350,0.000177
3549,0,0,0.5,0,0,0.5,9,11,3,2,...,1.84,2.23,1.77,2.12,0.009190,0.002017,0.002337,0.002667,0.001417,0.005107
3550,1,0,1.0,0,0,0.5,11,11,2,2,...,2.13,2.03,1.99,1.88,0.000667,0.049737,0.131600,0.000160,0.051667,0.489267

In [57]:
matches.dropna(inplace=True)

In [58]:
matches

,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,4,1,1.0,4,0,1.0,15,12,7,5,...,1.99,2.07,1.90,1.99,0.000120,0.681267,4.010417,0.000187,0.634817,2.796817
1,0,5,0.0,0,1,0.0,5,14,3,9,...,2.07,1.98,1.97,1.92,0.448067,0.107200,0.000227,0.254017,0.136867,0.000107
2,1,1,0.5,0,0,0.5,13,8,3,3,...,2.00,1.96,1.96,1.92,0.001230,0.001600,0.018667,0.000427,0.003000,0.016950
3,3,0,1.0,0,0,0.5,10,11,4,3,...,1.90,2.07,1.86,2.02,0.001337,0.002950,0.000817,0.002187,0.003017,0.001667
4,0,0,0.5,0,0,0.5,6,10,2,3,...,2.03,2.08,1.96,1.93,0.006950,0.004400,0.001430,0.002417,0.008417,0.000550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3546,0,1,0.0,0,0,0.5,7,11,1,1,...,2.07,1.96,1.98,1.88,0.010600,0.020280,0.000107,0.062217,0.018590,0.000547
3547,2,1,1.0,0,1,0.0,14,6,4,2,...,2.02,2.02,1.95,1.92,0.000187,0.028467,0.288400,0.001417,0.013000,0.017217
3548,1,2,0.0,1,0,1.0,10,14,4,3,...,1.95,2.06,1.90,1.97,0.205000,0.032067,0.000107,0.508600,0.085350,0.000177
3549,0,0,0.5,0,0,0.5,9,11,3,2,...,1.84,2.23,1.77,2.12,0.009190,0.002017,0.002337,0.002667,0.001417,0.005107
3550,1,0,1.0,0,0,0.5,11,11,2,2,...,2.13,2.03,1.99,1.88,0.000667,0.049737,0.131600,0.000160,0.051667,0.489267

In [59]:
X, y = matches.drop(columns=['FTR']).values, matches['FTR'].values

In [60]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=0)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

In [61]:
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA

### Logistic Regression

In [62]:
pca = PCA(0.95)
lr = LogisticRegression(multi_class='ovr', random_state=1, solver='lbfgs')

In [63]:
X_train_pca = pca.fit_transform(X_train_sc)
X_test_pca = pca.transform(X_test_sc)

In [64]:
X_train_pca.shape

(2812, 20)

In [65]:
X_test_pca.shape

(704, 20)

In [66]:
y_train

array([0.5, 0. , 0. , ..., 1. , 0. , 0.5])

In [67]:
lr.fit(X_train_pca, y_train.astype(str))
lr.predict(X_test_pca)

array(['1.0', '0.0', '1.0', '0.0', '0.5', '0.0', '1.0', '1.0', '1.0',
       '0.5', '0.0', '0.0', '0.5', '1.0', '0.0', '0.5', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '1.0', '1.0', '0.0', '1.0', '1.0',
       '1.0', '1.0', '0.5', '0.5', '0.5', '0.0', '0.0', '1.0', '0.0',
       '1.0', '0.0', '1.0', '0.5', '1.0', '0.0', '0.0', '1.0', '1.0',
       '1.0', '0.0', '1.0', '1.0', '0.0', '0.0', '0.0', '1.0', '0.0',
       '1.0', '0.0', '1.0', '1.0', '0.5', '1.0', '0.0', '1.0', '1.0',
       '0.0', '0.0', '1.0', '1.0', '1.0', '0.0', '0.0', '0.5', '0.0',
       '1.0', '1.0', '1.0', '1.0', '0.0', '1.0', '0.0', '0.0', '1.0',
       '1.0', '1.0', '1.0', '1.0', '1.0', '0.0', '0.5', '0.0', '0.0',
       '0.0', '1.0', '1.0', '1.0', '0.5', '0.0', '1.0', '0.5', '0.0',
       '0.5', '0.0', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0',
       '1.0', '0.0', '0.0', '0.0', '1.0', '1.0', '0.0', '0.5', '1.0',
       '1.0', '0.0', '1.0', '0.0', '0.5', '1.0', '1.0', '0.0', '1.0',
       '0.5', '1.0', '1.0', '1.0', '1.0', '0.5', '1.0', '1.0', '0.5',
       '1.0', '1.0', '0.0', '0.5', '1.0', '1.0', '1.0', '1.0', '0.0',
       '0.0', '0.0', '1.0', '1.0', '1.0', '0.5', '1.0', '0.0', '1.0',
       '1.0', '1.0', '0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0',
       '1.0', '1.0', '1.0', '1.0', '0.5', '0.0', '0.0', '0.0', '1.0',
       '1.0', '0.0', '1.0', '0.0', '0.5', '0.0', '0.0', '1.0', '0.5',
       '0.0', '0.0', '0.5', '0.5', '1.0', '1.0', '0.5', '1.0', '0.5',
       '0.5', '1.0', '0.0', '1.0', '0.0', '0.0', '0.0', '0.5', '1.0',
       '0.0', '1.0', '0.0', '0.0', '0.5', '1.0', '0.5', '1.0', '1.0',
       '0.0', '0.0', '0.0', '1.0', '0.0', '0.5', '0.5', '0.5', '1.0',
       '1.0', '1.0', '1.0', '0.0', '0.0', '1.0', '1.0', '0.0', '1.0',
       '1.0', '0.0', '0.0', '1.0', '1.0', '0.0', '0.0', '1.0', '0.5',
       '1.0', '1.0', '0.0', '1.0', '0.5', '1.0', '1.0', '0.0', '0.0',
       '0.0', '1.0', '1.0', '0.0', '0.0', '0.0', '1.0', '0.5', '1.0',
       '0.0', '1.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.5', '1.0',
       '0.5', '0.0', '1.0', '1.0', '0.0', '1.0', '1.0', '1.0', '0.0',
       '1.0', '1.0', '0.0', '0.0', '1.0', '1.0', '1.0', '0.0', '1.0',
       '0.0', '0.0', '0.5', '1.0', '0.0', '1.0', '1.0', '1.0', '1.0',
       '1.0', '1.0', '0.5', '1.0', '1.0', '1.0', '1.0', '1.0', '1.0',
       '0.0', '0.5', '1.0', '1.0', '0.0', '0.0', '0.5', '1.0', '0.0',
       '0.0', '1.0', '0.5', '1.0', '1.0', '0.5', '0.0', '0.0', '0.0',
       '0.0', '0.5', '1.0', '1.0', '1.0', '1.0', '0.5', '1.0', '1.0',
       '1.0', '1.0', '1.0', '1.0', '1.0', '0.0', '0.0', '0.0', '0.0',
       '1.0', '0.0', '1.0', '0.0', '0.0', '0.0', '0.5', '1.0', '0.0',
       '0.5', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0', '1.0',
       '0.0', '1.0', '0.5', '0.0', '0.0', '0.0', '1.0', '1.0', '0.0',
       '1.0', '0.0', '1.0', '0.0', '0.5', '0.0', '1.0', '0.0', '1.0',
       '1.0', '1.0', '0.0', '0.5', '1.0', '0.5', '0.0', '0.0', '1.0',
       '1.0', '0.0', '1.0', '0.0', '0.0', '1.0', '1.0', '1.0', '1.0',
       '1.0', '1.0', '1.0', '0.5', '0.0', '0.0', '1.0', '0.0', '0.0',
       '1.0', '1.0', '0.5', '1.0', '1.0', '1.0', '1.0', '1.0', '0.0',
       '1.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '1.0', '1.0', '1.0',
       '1.0', '1.0', '0.5', '1.0', '1.0', '0.0', '0.0', '1.0', '1.0',
       '1.0', '0.0', '1.0', '0.0', '1.0', '1.0', '0.5', '1.0', '1.0',
       '1.0', '1.0', '1.0', '1.0', '1.0', '0.0', '1.0', '1.0', '1.0',
       '1.0', '1.0', '1.0', '0.0', '1.0', '1.0', '1.0', '0.0', '1.0',
       '0.0', '1.0', '0.0', '1.0', '1.0', '1.0', '0.0', '1.0', '1.0',
       '1.0', '1.0', '0.0', '1.0', '0.0', '0.0', '1.0', '1.0', '1.0',
       '0.0', '1.0', '0.5', '0.0', '0.0', '0.0', '0.5', '1.0', '0.0',
       '0.0', '1.0', '1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '1.0',
       '1.0', '1.0', '0.5', '1.0', '1.0', '0.0', '0.0', '0.5', '1.0',
       '0.0', '0.0', '1.0', '0.0', '0.0', '0.0', '1.0', '0.5', '0.5',
       '1.0', '0.0', '0.5', '0.5', '0.0', '0.0', '0.0', '0.0', '0.0',
       '1.0', '1.0', '1.0', '1.0', '0.0', '1.0', '1.0', '0.5', '1.0',
       '0.5', '1.0', '1.0', '0.5', '1.0', '1.0', '1.0', '0.0', '1.0',
       '0.5', '1.0', '0.0', '0.0', '1.0', '1.0', '0.0', '0.0', '0.5',
       '1.0', '0.0', '1.0', '0.0', '1.0', '0.5', '1.0', '0.0', '1.0',
       '1.0', '1.0', '1.0', '1.0', '1.0', '0.0', '1.0', '0.5', '1.0',
       '0.0', '1.0', '0.0', '1.0', '0.0', '0.0', '0.0', '1.0', '1.0',
       '0.0', '1.0', '0.5', '1.0', '0.0', '1.0', '1.0', '0.5', '0.0',
       '0.5', '1.0', '1.0', '1.0', '0.0', '1.0', '1.0', '0.0', '1.0',
       '0.0', '0.5', '1.0', '0.0', '1.0', '0.0', '0.0', '1.0', '0.0',
       '0.0', '1.0', '0.0', '1.0', '0.0', '0.5', '0.0', '1.0', '1.0',
       '0.0', '0.5', '1.0', '1.0', '1.0', '0.5', '1.0', '1.0', '1.0',
       '0.0', '0.0', '1.0', '1.0', '0.0', '0.0', '1.0', '0.5', '1.0',
       '0.0', '0.0', '0.5', '1.0', '0.0', '1.0', '0.0', '0.0', '0.5',
       '0.0', '1.0', '0.0', '1.0', '0.0', '1.0', '1.0', '0.0', '0.5',
       '1.0', '1.0', '0.0', '0.0', '0.0', '1.0', '1.0', '0.0', '1.0',
       '0.0', '1.0', '1.0', '0.0', '0.5', '1.0', '1.0', '0.5', '1.0',
       '1.0', '1.0', '1.0', '1.0', '1.0', '0.0', '0.5', '1.0', '1.0',
       '0.0', '1.0', '0.0', '1.0', '1.0', '0.0', '0.5', '0.0', '1.0',
       '1.0', '0.5', '1.0', '1.0', '1.0', '0.0', '1.0', '1.0', '0.0',
       '0.0', '0.0', '0.0', '0.5', '0.0', '1.0', '1.0', '1.0', '1.0',
       '1.0', '0.0'], dtype='<U32')

In [68]:
lr.score(X_test_pca, y_test.astype(str))

0.7428977272727273

In [69]:
lr.score(X_train_pca, y_train.astype(str))

0.7546230440967283

In [70]:
pd.DataFrame(y_test).value_counts(normalize=True)

1.0    0.419034
0.0    0.330966
0.5    0.250000
dtype: float64

### Gridsearch on Logistic Regression

In [71]:
logreg = LogisticRegression(max_iter=10000, tol=0.1)

In [72]:
grid={"C":np.logspace(-4, 4, 50), "penalty":['l2']}

In [73]:
logreg_cv=GridSearchCV(logreg,grid,cv=5)
logreg_cv.fit(X_train_pca,y_train.astype(str))

GridSearchCV(cv=5, estimator=LogisticRegression(max_iter=10000, tol=0.1),
             param_grid={'C': array([1.00000000e-04, 1.45634848e-04, 2.12095089e-04, 3.08884360e-04,
       4.49843267e-04, 6.55128557e-04, 9.54095476e-04, 1.38949549e-03,
       2.02358965e-03, 2.94705170e-03, 4.29193426e-03, 6.25055193e-03,
       9.10298178e-03, 1.32571137e-02, 1.93069773e-02, 2.81176870e-02,
       4.09491506e-02, 5...
       3.72759372e+00, 5.42867544e+00, 7.90604321e+00, 1.15139540e+01,
       1.67683294e+01, 2.44205309e+01, 3.55648031e+01, 5.17947468e+01,
       7.54312006e+01, 1.09854114e+02, 1.59985872e+02, 2.32995181e+02,
       3.39322177e+02, 4.94171336e+02, 7.19685673e+02, 1.04811313e+03,
       1.52641797e+03, 2.22299648e+03, 3.23745754e+03, 4.71486636e+03,
       6.86648845e+03, 1.00000000e+04]),
                         'penalty': ['l2']})

In [74]:
logreg_cv.best_score_

0.7546329715618543

In [75]:
logreg_cv.best_params_

{'C': 0.040949150623804234, 'penalty': 'l2'}

### Random Forest

In [213]:
rf = RandomForestClassifier(n_estimators=80, max_features=None, max_depth=3, min_samples_split=3, ccp_alpha=0.01)

In [214]:
rf.fit(X_train_pca,y_train.astype(str))

RandomForestClassifier(ccp_alpha=0.01, max_depth=3, max_features=None,
                       min_samples_split=3, n_estimators=80)

In [216]:
rf.score(X_train_pca,y_train.astype(str))

0.6692745376955903

In [217]:
rf.score(X_test_pca, y_test.astype(str))

0.6647727272727273

### Gridsearch on random forest

In [218]:
rf = RandomForestClassifier()

In [219]:
my_params = {
    'criterion': ['gini', 'entropy'],
    'n_estimators': [18, 20, 25],
    'max_depth': [4, 10, 20],
    'max_features': ['auto', 1.0, 2, 3]
    
}

In [220]:
grid = GridSearchCV(rf, param_grid = my_params, cv = 5)

In [221]:
grid.fit(X_train_pca,y_train.astype(str))

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 10, 20],
                         'max_features': ['auto', 1.0, 2, 3],
                         'n_estimators': [18, 20, 25]})

In [222]:
grid.score(X_train_pca,y_train.astype(str))

0.9971550497866287

In [223]:
grid.score(X_test_pca, y_test.astype(str))

0.7414772727272727

### SVM

In [225]:
from sklearn.svm import SVC
svc = SVC()

In [226]:
svc.fit(X_train_pca,y_train.astype(str))

SVC()

In [227]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_train.astype(str), svc.predict(X_train_pca)))
print(accuracy_score(y_test.astype(str), svc.predict(X_test_pca)))

0.7827169274537695
0.7428977272727273

### Gridsearch on SVM

In [229]:
# Instantiate SVM.
svc = SVC()
tuned_parameters = [{'kernel': ['rbf'], 'gamma': [1e-3, 1e-4],
                     'C': [1, 10, 100, 1000]},
                    {'kernel': ['linear'], 'C': [1, 10, 100, 1000]}]
gs = GridSearchCV(SVC(), tuned_parameters, cv=5)
gs.fit(X_train_pca,y_train.astype(str))

GridSearchCV(cv=5, estimator=SVC(),
             param_grid=[{'C': [1, 10, 100, 1000], 'gamma': [0.001, 0.0001],
                          'kernel': ['rbf']},
                         {'C': [1, 10, 100, 1000], 'kernel': ['linear']}])

In [230]:
# Evaluate model.
gs.score(X_test_pca, y_test.astype(str))

0.7613636363636364

In [231]:
gs.score(X_train_pca,y_train.astype(str))

0.835348506401138

In [232]:
gs.best_params_

{'C': 1000, 'gamma': 0.001, 'kernel': 'rbf'}

### Neural Networks

In [76]:
import os
os.environ['KERAS_BACKEND']='tensorflow'
import keras
import tensorflow as tf
from keras import optimizers
from keras.models import Sequential, load_model
from keras.layers import Dense
from keras.layers import Dropout, Embedding, Input, BatchNormalization, Flatten
from keras.regularizers import l1, l2
from keras.callbacks import EarlyStopping

In [77]:
model = Sequential()
model.add(Dense(20, activation='relu', input_shape=(20,)))
# model.add(Input(shape=(20,)))
model.add(BatchNormalization())
model.add(Dense(20,activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dropout(.20))
model.add(Dense(1, activation='sigmoid'))

# compile
model.compile(loss='binary_crossentropy', 
                optimizer='adam', 
                metrics=['accuracy'])

es = EarlyStopping(monitor='val_accuracy', patience=5)

# fit model with early stopping
model.fit(X_train_pca, y_train, 
                         validation_data=(X_test_pca, y_test), 
                         epochs=100,
                         callbacks=[es])

Epoch 1/100
88/88 [==============================] - 17s 7ms/step - loss: 0.6751 - accuracy: 0.4609 - val_loss: 0.5745 - val_accuracy: 0.5696
Epoch 2/100
88/88 [==============================] - 0s 3ms/step - loss: 0.5501 - accuracy: 0.6163 - val_loss: 0.4697 - val_accuracy: 0.6634
Epoch 3/100
88/88 [==============================] - 0s 2ms/step - loss: 0.4764 - accuracy: 0.6494 - val_loss: 0.4150 - val_accuracy: 0.6832
Epoch 4/100
88/88 [==============================] - 0s 2ms/step - loss: 0.4431 - accuracy: 0.6731 - val_loss: 0.4007 - val_accuracy: 0.6861
Epoch 5/100
88/88 [==============================] - 0s 2ms/step - loss: 0.4201 - accuracy: 0.6835 - val_loss: 0.3902 - val_accuracy: 0.6875
Epoch 6/100
88/88 [==============================] - 0s 2ms/step - loss: 0.4191 - accuracy: 0.6790 - val_loss: 0.3841 - val_accuracy: 0.6903
Epoch 7/100
88/88 [==============================] - 0s 3ms/step - loss: 0.4104 - accuracy: 0.6844 - val_loss: 0.3813 - val_accuracy: 0.6918
Epoch 8/100
88/88 [==============================] - 0s 3ms/step - loss: 0.4110 - accuracy: 0.6838 - val_loss: 0.3738 - val_accuracy: 0.6989
Epoch 9/100
88/88 [==============================] - 0s 3ms/step - loss: 0.3904 - accuracy: 0.6962 - val_loss: 0.3727 - val_accuracy: 0.6974
Epoch 10/100
88/88 [==============================] - 0s 2ms/step - loss: 0.4024 - accuracy: 0.6824 - val_loss: 0.3684 - val_accuracy: 0.7003
Epoch 11/100
88/88 [==============================] - 0s 3ms/step - loss: 0.3841 - accuracy: 0.7119 - val_loss: 0.3669 - val_accuracy: 0.6974
Epoch 12/100
88/88 [==============================] - 0s 3ms/step - loss: 0.3813 - accuracy: 0.6983 - val_loss: 0.3675 - val_accuracy: 0.6960
Epoch 13/100
88/88 [==============================] - 0s 2ms/step - loss: 0.3838 - accuracy: 0.6945 - val_loss: 0.3640 - val_accuracy: 0.6974
Epoch 14/100
88/88 [==============================] - 0s 3ms/step - loss: 0.3923 - accuracy: 0.6885 - val_loss: 0.3646 - val_accuracy: 0.6960
Epoch 15/100
88/88 [==============================] - 0s 2ms/step - loss: 0.3935 - accuracy: 0.6921 - val_loss: 0.3618 - val_accuracy: 0.7017
Epoch 16/100
88/88 [==============================] - 0s 3ms/step - loss: 0.3816 - accuracy: 0.6949 - val_loss: 0.3602 - val_accuracy: 0.6989
Epoch 17/100
88/88 [==============================] - 0s 3ms/step - loss: 0.3904 - accuracy: 0.6919 - val_loss: 0.3595 - val_accuracy: 0.7031
Epoch 18/100
88/88 [==============================] - 0s 3ms/step - loss: 0.3706 - accuracy: 0.7030 - val_loss: 0.3607 - val_accuracy: 0.7017
Epoch 19/100
88/88 [==============================] - 0s 3ms/step - loss: 0.3502 - accuracy: 0.7150 - val_loss: 0.3581 - val_accuracy: 0.7017
Epoch 20/100
88/88 [==============================] - 0s 4ms/step - loss: 0.3818 - accuracy: 0.6979 - val_loss: 0.3595 - val_accuracy: 0.7017
Epoch 21/100
88/88 [==============================] - 0s 3ms/step - loss: 0.3861 - accuracy: 0.6930 - val_loss: 0.3591 - val_accuracy: 0.7003
Epoch 22/100
88/88 [==============================] - 0s 4ms/step - loss: 0.3657 - accuracy: 0.7152 - val_loss: 0.3571 - val_accuracy: 0.7017

In [78]:
model.evaluate(X_test_pca, y_test)

22/22 [==============================] - 0s 2ms/step - loss: 0.3571 - accuracy: 0.7017

[0.3571207821369171, 0.7017045617103577]

In [79]:
X_train.shape

(2812, 105)

Now use the original data:

In [82]:
model = Sequential()
model.add(Dense(105, activation='relu', input_shape=(105,)))
# model.add(Input(shape=(20,)))
model.add(BatchNormalization())
model.add(Dense(20,activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dropout(.20))
model.add(Dense(1, activation='sigmoid'))

# compile
model.compile(loss='binary_crossentropy', 
                optimizer='adam', 
                metrics=['accuracy'])

es = EarlyStopping(monitor='val_accuracy', patience=5)

# fit model with early stopping
model.fit(np.array(X_train), np.array(y_train), 
                         validation_data=(np.array(X_test), np.array(y_test)), 
                         epochs=100,
                         callbacks=[es])

Epoch 1/100
88/88 [==============================] - 3s 8ms/step - loss: 0.6278 - accuracy: 0.5269 - val_loss: 0.5044 - val_accuracy: 0.6747
Epoch 2/100
88/88 [==============================] - 0s 3ms/step - loss: 0.4205 - accuracy: 0.6973 - val_loss: 0.3581 - val_accuracy: 0.6989
Epoch 3/100
88/88 [==============================] - 0s 4ms/step - loss: 0.3264 - accuracy: 0.7267 - val_loss: 0.3846 - val_accuracy: 0.6889
Epoch 4/100
88/88 [==============================] - 0s 4ms/step - loss: 0.2747 - accuracy: 0.7489 - val_loss: 0.2497 - val_accuracy: 0.7457
Epoch 5/100
88/88 [==============================] - 0s 3ms/step - loss: 0.2758 - accuracy: 0.7418 - val_loss: 0.2863 - val_accuracy: 0.7457
Epoch 6/100
88/88 [==============================] - 0s 4ms/step - loss: 0.2550 - accuracy: 0.7616 - val_loss: 0.2012 - val_accuracy: 0.7500
Epoch 7/100
88/88 [==============================] - 0s 3ms/step - loss: 0.2535 - accuracy: 0.7531 - val_loss: 0.1926 - val_accuracy: 0.7500
Epoch 8/100
88/88 [==============================] - 0s 3ms/step - loss: 0.2514 - accuracy: 0.7364 - val_loss: 0.2227 - val_accuracy: 0.7500
Epoch 9/100
88/88 [==============================] - 0s 3ms/step - loss: 0.2361 - accuracy: 0.7419 - val_loss: 0.2072 - val_accuracy: 0.7472
Epoch 10/100
88/88 [==============================] - 0s 3ms/step - loss: 0.2344 - accuracy: 0.7454 - val_loss: 0.2088 - val_accuracy: 0.7472
Epoch 11/100
88/88 [==============================] - 0s 4ms/step - loss: 0.2259 - accuracy: 0.7550 - val_loss: 0.2875 - val_accuracy: 0.7486

In [83]:
model.evaluate(np.array(X_test), np.array(y_test))

22/22 [==============================] - 0s 2ms/step - loss: 0.2875 - accuracy: 0.7486

[0.28750717639923096, 0.7485795617103577]

In [84]:
model.evaluate(np.array(X_train), np.array(y_train))

88/88 [==============================] - 1s 2ms/step - loss: 0.2847 - accuracy: 0.7496

[0.28465643525123596, 0.74964439868927]

### Now letâ€™s make some predictions for this season

In [135]:
epl_21 = pd.read_csv('./2021:2022/E0.csv', encoding='cp1252')

In [136]:
epl_21['FTR'] = epl_21['FTR'].replace({'H':1, 'D':0.5, 'A':0})

In [137]:
epl_21['HTR'] = epl_21['HTR'].replace({'H':1, 'D':0.5, 'A':0})

In [138]:
home_team_odds = epl_21[['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH']]

In [139]:
epl_21['home_team_var'] = home_team_odds.var(axis=1)

In [140]:
draw_odds = epl_21[['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD']]

In [141]:
epl_21['draw_var'] = draw_odds.var(axis=1)

In [142]:
away_team_odds = epl_21[['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA']]

In [143]:
epl_21['away_team_var'] = away_team_odds.var(axis=1)

In [144]:
home_team_odds_c = epl_21[['B365CH', 'BWCH', 'IWCH', 'PSCH', 'WHCH', 'VCCH']]

In [145]:
epl_21['home_team_var_c'] = home_team_odds_c.var(axis=1)

In [146]:
draw_odds_c = epl_21[['B365CD', 'BWCD', 'IWCD', 'PSCD', 'WHCD', 'VCCD']]

In [147]:
epl_21['draw_var_c'] = draw_odds_c.var(axis=1)

In [148]:
away_team_odds_c = epl_21[['B365CA', 'BWCA', 'IWCA', 'PSCA', 'WHCA', 'VCCA']]

In [149]:
epl_21['away_team_var_c'] = away_team_odds_c.var(axis=1)

In [150]:
epl_21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,1,1,0,...,2.05,2.17,1.80,2.09,0.010417,0.001867,0.003667,0.004067,0.013800,0.001200
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,1,1,0,...,2.19,1.93,2.10,1.79,0.000240,0.007760,0.013150,0.001297,0.002667,0.041417
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,0,1,0,...,1.82,2.19,1.79,2.12,0.005000,0.002017,0.001217,0.006377,0.002787,0.001600
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,1,2,0,...,2.16,1.93,2.06,1.82,0.000147,0.065017,1.009600,0.000347,0.025417,0.266667
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,1,0,1,...,2.08,1.90,2.03,1.86,0.001217,0.004017,0.006417,0.001417,0.002667,0.024400
5,E0,14/08/2021,15:00,Leicester,Wolves,1,0,1,1,0,...,2.05,1.95,1.99,1.89,0.000627,0.010267,0.008067,0.001147,0.001867,0.019617
6,E0,14/08/2021,15:00,Watford,Aston Villa,3,2,1,2,0,...,2.04,1.93,1.99,1.90,0.005667,0.005950,0.002987,0.014550,0.005667,0.001617
7,E0,14/08/2021,17:30,Norwich,Liverpool,0,3,0,0,1,...,2.03,2.10,1.88,2.01,0.381667,0.076267,0.000737,0.143750,0.037417,0.001097
8,E0,15/08/2021,14:00,Newcastle,West Ham,2,4,0,2,1,...,2.12,1.94,2.00,1.89,0.005017,0.005867,0.001950,0.004800,0.007667,0.000750
9,E0,15/08/2021,16:30,Tottenham,Man City,1,0,1,0,0,...,1.94,2.15,1.84,2.05,0.019267,0.010467,0.000760,0.040417,0.028000,0.001080

In [101]:
champion_20 = pd.read_csv('./2020:2021/E1.csv', encoding='cp1252')

In [102]:
champion_20['FTR'] = champion_20['FTR'].replace({'H':1, 'D':0.5, 'A':0})

In [103]:
champion_20['HTR'] = champion_20['HTR'].replace({'H':1, 'D':0.5, 'A':0})

In [104]:
home_team_odds = champion_20[['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH']]

In [105]:
champion_20['home_team_var'] = home_team_odds.var(axis=1)

In [106]:
draw_odds = champion_20[['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD']]

In [107]:
champion_20['draw_var'] = draw_odds.var(axis=1)

In [108]:
away_team_odds = champion_20[['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA']]

In [109]:
champion_20['away_team_var'] = away_team_odds.var(axis=1)

In [110]:
home_team_odds_c = champion_20[['B365CH', 'BWCH', 'IWCH', 'PSCH', 'WHCH', 'VCCH']]

In [111]:
champion_20['home_team_var_c'] = home_team_odds_c.var(axis=1)

In [112]:
draw_odds_c = champion_20[['B365CD', 'BWCD', 'IWCD', 'PSCD', 'WHCD', 'VCCD']]

In [113]:
champion_20['draw_var_c'] = draw_odds_c.var(axis=1)

In [114]:
away_team_odds_c = champion_20[['B365CA', 'BWCA', 'IWCA', 'PSCA', 'WHCA', 'VCCA']]

In [115]:
champion_20['away_team_var_c'] = away_team_odds_c.var(axis=1)

In [116]:
champion_20

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,home_team_var,draw_var,away_team_var,home_team_var_c,draw_var_c,away_team_var_c
0,E1,11/09/2020,19:45,Watford,Middlesbrough,1,0,1.0,1,0,...,2.09,1.88,2.02,1.82,0.000430,0.016417,0.002400,0.000617,0.008067,0.008267
1,E1,12/09/2020,12:30,Birmingham,Brentford,1,0,1.0,1,0,...,1.97,1.99,1.91,1.93,0.012000,0.010017,0.000297,0.020550,0.010667,0.000417
2,E1,12/09/2020,12:30,Wycombe,Rotherham,0,1,0.0,0,0,...,2.04,1.98,1.93,1.92,0.001467,0.009600,0.001667,0.003800,0.015350,0.000667
3,E1,12/09/2020,15:00,Barnsley,Luton,0,1,0.0,0,0,...,1.87,2.14,1.80,2.05,0.000600,0.007467,0.005400,0.001227,0.013417,0.024017
4,E1,12/09/2020,15:00,Bournemouth,Blackburn,3,2,1.0,1,1,...,2.11,1.90,2.02,1.83,0.001217,0.010200,0.004617,0.002000,0.013217,0.000867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,08/05/2021,12:30,Middlesbrough,Wycombe,0,3,0.0,0,2,...,1.87,2.12,1.81,2.04,0.000777,0.012417,0.020240,0.001777,0.016550,0.019777
548,E1,08/05/2021,12:30,Nott'm Forest,Preston,1,2,0.0,1,0,...,1.98,1.98,1.93,1.92,0.001000,0.006417,0.008417,0.001200,0.005600,0.010000
549,E1,08/05/2021,12:30,QPR,Luton,3,1,1.0,1,1,...,1.98,2.02,1.90,1.95,0.004267,0.008267,0.016017,0.004417,0.013067,0.005987
550,E1,08/05/2021,12:30,Reading,Huddersfield,2,2,0.5,2,1,...,1.88,2.08,1.84,2.01,0.001457,0.016417,0.016017,0.001027,0.021600,0.012017
551,E1,08/05/2021,12:30,Watford,Swansea,2,0,1.0,0,0,...,2.14,1.90,2.04,1.82,0.000400,0.014550,0.010950,0.003280,0.008067,0.007750

In [133]:
print(champion_20.columns.tolist())

['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD', 'MaxA', 'AvgH', 'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH', 'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 'WHCH', 'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH', 'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5', 'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA', 'home_team_var', 'draw_var', 'away_team_var', 'home_team_var_c', 'draw_var_c', 'away_team_var_c']

In [151]:
epl_21 = epl_21.drop(columns=['FTHG', 'FTAG', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR',])

In [185]:
new_df = pd.DataFrame()

for team in ['Brentford', 'Watford', 'Norwich']:
    df = champion_20[champion_20['HomeTeam'] == team].loc[:, ['FTHG',
     'HTHG',
     'HTR',
     'HS',
     'HST',
     'HF',
     'HC',
     'HY',
     'HR']].tail(5)
    df.loc['mean'] = df.mean()
    team_index = (epl_21[epl_21['HomeTeam'] == team].index).tolist()[0]
    df['HomeTeam'] = epl_21['HomeTeam'][team_index]
    new_df = new_df.append(df.iloc[5], ignore_index=True)

In [186]:
new_df

   FTHG   HC    HF   HR    HS  HST  HTHG  HTR   HY   HomeTeam
0   0.8  5.4  12.8  0.0  12.4  3.8   0.2  0.6  1.0  Brentford
1   1.8  4.6  14.4  0.0  11.6  4.2   1.0  0.9  1.2    Watford
2   2.6  4.6  11.2  0.2  16.0  6.6   1.4  0.7  1.6    Norwich

In [187]:
epl_20 = pd.read_csv('./2020:2021/E0.csv', encoding='cp1252')

In [188]:
epl_20['HTR'] = epl_20['HTR'].replace({'H':1, 'D':0.5, 'A':0})

In [189]:
for team in ['Man United', 'Burnley', 'Chelsea', 'Everton', 'Leicester', 'Newcastle', 'Tottenham']:
    df = epl_20[epl_20['HomeTeam'] == team].loc[:, ['FTHG',
     'HTHG',
     'HTR',
     'HS',
     'HST',
     'HF',
     'HC',
     'HY',
     'HR']].tail(5)
    df.loc['mean'] = df.mean()
    team_index = (epl_21[epl_21['HomeTeam'] == team].index).tolist()[0]
    df['HomeTeam'] = epl_21['HomeTeam'][team_index]
    new_df = new_df.append(df.iloc[5], ignore_index=True)

In [190]:
new_df

   FTHG   HC    HF   HR    HS  HST  HTHG  HTR   HY    HomeTeam
0   0.8  5.4  12.8  0.0  12.4  3.8   0.2  0.6  1.0   Brentford
1   1.8  4.6  14.4  0.0  11.6  4.2   1.0  0.9  1.2     Watford
2   2.6  4.6  11.2  0.2  16.0  6.6   1.4  0.7  1.6     Norwich
3   1.8  5.6  10.4  0.0  13.4  5.2   0.6  0.4  1.6  Man United
4   0.6  6.4   8.0  0.0  13.4  4.0   0.6  0.3  1.0     Burnley
5   1.2  5.2  11.2  0.2  14.0  5.6   0.4  0.4  1.2     Chelsea
6   1.0  6.0   9.4  0.0  15.8  5.4   0.4  0.4  0.8     Everton
7   1.8  6.4  12.0  0.0  14.0  5.8   0.8  0.4  0.6   Leicester
8   1.8  4.4  10.0  0.2  14.0  5.0   1.2  0.5  1.8   Newcastle
9   2.0  6.4  10.2  0.0  15.6  6.8   0.8  0.6  1.2   Tottenham

In [192]:
print(epl_20.columns.tolist())

['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD', 'MaxA', 'AvgH', 'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH', 'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 'WHCH', 'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH', 'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5', 'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA']

In [197]:
new_df2 = pd.DataFrame()

In [198]:
for team in ['Arsenal', 'Leeds', 'Brighton', 'Crystal Palace', 'Southampton', 'Wolves', 'Aston Villa', 'Liverpool', 'West Ham', 'Man City']:
    df = epl_20[epl_20['AwayTeam'] == team].loc[:, ['FTAG', 'HTAG', 'HTR', 'AS', 'AST', 'AF', 'AC', 'AY', 'AR']].tail(5)
    df.loc['mean'] = df.mean()
    team_index = (epl_21[epl_21['AwayTeam'] == team].index).tolist()[0]
    df['AwayTeam'] = epl_21['AwayTeam'][team_index]
    new_df2 = new_df2.append(df.iloc[5], ignore_index=True)

In [204]:
new_df2.rename(columns={"HTR": "HTR2"}, inplace=True)

In [208]:
new_df3 = pd.DataFrame()

In [211]:
new_df

   FTHG   HC    HF   HR    HS  HST  HTHG  HTR   HY    HomeTeam
0   0.8  5.4  12.8  0.0  12.4  3.8   0.2  0.6  1.0   Brentford
1   1.8  4.6  14.4  0.0  11.6  4.2   1.0  0.9  1.2     Watford
2   2.6  4.6  11.2  0.2  16.0  6.6   1.4  0.7  1.6     Norwich
3   1.8  5.6  10.4  0.0  13.4  5.2   0.6  0.4  1.6  Man United
4   0.6  6.4   8.0  0.0  13.4  4.0   0.6  0.3  1.0     Burnley
5   1.2  5.2  11.2  0.2  14.0  5.6   0.4  0.4  1.2     Chelsea
6   1.0  6.0   9.4  0.0  15.8  5.4   0.4  0.4  0.8     Everton
7   1.8  6.4  12.0  0.0  14.0  5.8   0.8  0.4  0.6   Leicester
8   1.8  4.4  10.0  0.2  14.0  5.0   1.2  0.5  1.8   Newcastle
9   2.0  6.4  10.2  0.0  15.6  6.8   0.8  0.6  1.2   Tottenham

In [212]:
new_df2

    AC    AF   AR    AS  AST   AY        AwayTeam  FTAG  HTAG  HTR2
0  4.8   7.2  0.0  12.0  4.4  1.0         Arsenal   2.4   1.0   0.2
1  6.4  11.0  0.2  11.4  4.2  1.6           Leeds   2.0   0.6   0.4
2  5.8   7.6  0.6   8.6  2.6  0.8        Brighton   0.4   0.4   0.4
3  5.2  10.2  0.0  10.8  4.8  1.4  Crystal Palace   1.0   0.6   0.4
4  5.4   8.8  0.0  12.8  5.2  1.2     Southampton   0.6   0.4   0.8
5  5.6  10.8  0.0  12.2  4.2  0.4          Wolves   0.4   0.2   0.5
6  4.0  12.0  0.0  15.2  5.0  2.4     Aston Villa   1.6   1.2   0.2
7  6.8  11.6  0.0  19.2  6.2  0.4       Liverpool   2.6   1.0   0.2
8  5.0   8.0  0.2  16.6  5.6  1.6        West Ham   2.2   1.2   0.4
9  5.2  10.0  0.4  13.4  4.0  1.8        Man City   2.4   1.0   0.3

In [227]:
new_df = new_df.reindex(index=[0, 3, 4, 5, 6, 7, 1, 2, 8 ,9])

In [230]:
new_df = new_df.reset_index(drop=True)

In [234]:
final_df = pd.concat([new_df, new_df2], axis=1)

In [235]:
final_df['HTR'] = (final_df['HTR'] + final_df['HTR2']) / 2

In [236]:
final_df.drop(columns=['HTR2'], inplace=True)

In [247]:
final_df = epl_21.merge(final_df, on=['HomeTeam', 'AwayTeam'])

In [248]:
final_df

,Div,Date,Time,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,BWH,...,HTR,HY,AC,AF,AR,AS,AST,AY,FTAG,HTAG
0,E0,13/08/2021,20:00,Brentford,Arsenal,1,4.00,3.40,1.95,4.00,...,0.40,1.0,4.8,7.2,0.0,12.0,4.4,1.0,2.4,1.0
1,E0,14/08/2021,12:30,Man United,Leeds,1,1.53,4.50,5.75,1.53,...,0.40,1.6,6.4,11.0,0.2,11.4,4.2,1.6,2.0,0.6
2,E0,14/08/2021,15:00,Burnley,Brighton,0,3.10,3.10,2.45,3.20,...,0.35,1.0,5.8,7.6,0.6,8.6,2.6,0.8,0.4,0.4
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,1,1.25,5.75,13.00,1.28,...,0.40,1.2,5.2,10.2,0.0,10.8,4.8,1.4,1.0,0.6
4,E0,14/08/2021,15:00,Everton,Southampton,1,1.90,3.50,4.00,1.95,...,0.60,0.8,5.4,8.8,0.0,12.8,5.2,1.2,0.6,0.4
5,E0,14/08/2021,15:00,Leicester,Wolves,1,1.66,3.80,5.25,1.67,...,0.45,0.6,5.6,10.8,0.0,12.2,4.2,0.4,0.4,0.2
6,E0,14/08/2021,15:00,Watford,Aston Villa,1,3.10,3.20,2.37,3.25,...,0.55,1.2,4.0,12.0,0.0,15.2,5.0,2.4,1.6,1.2
7,E0,14/08/2021,17:30,Norwich,Liverpool,0,9.00,5.75,1.30,9.00,...,0.45,1.6,6.8,11.6,0.0,19.2,6.2,0.4,2.6,1.0
8,E0,15/08/2021,14:00,Newcastle,West Ham,0,3.20,3.50,2.20,3.30,...,0.45,1.8,5.0,8.0,0.2,16.6,5.6,1.6,2.2,1.2
9,E0,15/08/2021,16:30,Tottenham,Man City,1,5.50,4.20,1.60,5.25,...,0.45,1.2,5.2,10.0,0.4,13.4,4.0,1.8,2.4,1.0

In [249]:
final_df = final_df.drop(columns=['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam'])

In [251]:
X1 = final_df.drop(columns=['FTR'])
y1 = final_df['FTR']

## Results

In [257]:
model.predict(np.array(X1))

array([[0.9278681 ],
       [0.08753932],
       [0.83164763],
       [0.05420792],
       [0.2964784 ],
       [0.3171736 ],
       [0.88304067],
       [0.99996424],
       [0.9831866 ],
       [0.9986981 ]], dtype=float32)

In [253]:
X1_pca = pca.transform(X1)

In [255]:
lr.predict(X1_pca)

array(['1.0', '1.0', '1.0', '0.0', '1.0', '1.0', '1.0', '1.0', '1.0',
       '1.0'], dtype='<U32')